<section class="gallery mt-5 mb-4">
  <div class="container">
    <h2 class="art bold mb-5">Selection of the week : </h2>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">

          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let art of artWorkList; let i = index" class="carousel-item" [class.active]="i === 0">
                <img [src]="art.imageUrl" alt="..." class="d-block w-100">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
