<section class="golden-section">
    <div class="left-half">
        <div class="text-container">
            <h2 class="gold-text">{{artistInfos?.name | uppercase}}</h2>
            <h4 class="text-white">{{ presentationArtist }}</h4>
        </div>

        <div class="values-container text-white">
            <span>{{ artistInfos?.artistStyleList[0] }}</span>
            <span>|</span>
            <span>{{ artistInfos?.artistStyleList[1] }}</span>
            <span>|</span>
            <span>{{ artistInfos?.artistStyleList[2] }}</span>
        </div>
    </div>
    <div class="right-half">
        <div class="image-container">
            <img class="card-img-top" [src]="'../assets/images/artist_images/' + artistInfos?.name + '.jpg'" alt="Artwork">
        </div>
    </div>
</section>

<section class="artworks-section">
    <div class="contain">
        <div class="container">
            <div class="row section-header">
                <div class="col-xs-12">
                    <h2>{{ artistInfos?.name | uppercase }}'S ART WORK :</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <ng-container *ngIf="errorMessage?.length <= 0 else errorTemplate">
                <div class="row justify-content-start">
                    <ng-container *ngIf="(artworks?.length > 0  && errorMessage !== null) ; else noArtworksTemplate">
                        <div class="col-12 col-md-4" *ngFor="let artwork of artworks">
                            <div class="d-flex justify-content-center pt-5 pb-5">
                                <div class="artwork-card">
                                    <img class="card-img-top" [src]="artwork.imageUrl" alt="Artwork">
                                    <div class="card-overlay">
                                        <h4> {{ artwork.title }} </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <ng-template #noArtworksTemplate>
            <div class="no-artworks">
                <h3>No Artworks Available</h3>
                <p>Stay tuned for future updates!</p>
                <div class="emoji">&#x1F61E;</div>
            </div>
        </ng-template>


        <ng-template #errorTemplate>
            <div class="row justify-content-start">
                <div class="col-xs-12">
                    <div class="error-message">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
        </ng-template>


    

    </div>

</section>








