.golden-section {
  display: flex;
  padding: 140px;
  background-image: url('../../../assets/images/background-test.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.gold-text {
  color: gold;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5), gold);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  text-align: center;
  margin-bottom: 20px;
}

.values-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.values-container span {
  margin: 0 5px;
}

.right-half {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  padding: 20px;
  width: 42%;
  position: absolute;
  overflow: visible;
  margin-top: 10%;
}

.image-container img {
  display: block;
  max-width: 100%;
  width: 60%;
  height: auto;
  margin: 0 auto;
  clip-path: polygon(
    0 10%,
    10% 0,
    100% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    0% 100%,
    0% 90%,
    0% 10%
  );
}

.artworks-section {
  padding: 40px;
  background: linear-gradient(to right, #242124, #2B142B);}

.section-header {
  margin-top: 10%;
  margin-bottom: 20px;
  text-indent: 40px; 
  color: white;
  padding-left: 2%;
}

.artworks-container {
  display: flex;
  flex-wrap: wrap;
}

.artwork-card {
  position: relative;
  width: 300px; 
  height: 300px;
}

.artwork-card img {
  width: 100%;
  height: 300px;
}

.card-overlay {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8); 
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  clip-path: polygon(
    0 10%,
    10% 0,
    100% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    0% 100%,
    0% 90%,
    0% 10%
  );
}

.artwork-card:hover .card-overlay {
  transform: translateY(0%);
}

.card-overlay h3,
.card-overlay p {
  margin: 0;
}

.no-artworks {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.no-artworks h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.no-artworks p {
  font-size: 16px;
  margin-bottom: 20px;
}

.no-artworks .emoji {
  font-size: 48px;
}