.mainpage {
  background-image: linear-gradient(to right, #cacaca, #838383);
}

.card {
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover{
  transform: translateY(-15px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.card-title,
.card-text {
  margin-bottom: 0;
  text-align: center;
}

.card-body {
  padding: 20px;
  background-color: #ffffff;
}

.card-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  color: #666;
}

.card-text span {
  font-size: 18px;
  color: #333;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.home {
  background-color: #f2f2f2;
  padding: 80px 0;
  text-align: center;
  background-image: url('../../assets/images/herobanner.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home h1 {
  font-size: 36px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.home p {
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Gallery Component Styles */
.gallery {
  padding: 40px 0;
}

.gallery h2 {
  font-size: 28px;
  color: #333;
}

.artwork-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.artwork-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.artwork-card h3 {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.artwork-card p {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

/* Artist Profile Component Styles */
.artist-profile {
  padding: 40px 0;
}

.artist-info h2 {
  font-size: 28px;
  color: #333;
}

.artist-info p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.artist-profile h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .home h1 {
    font-size: 24px;
  }

  .home p {
    font-size: 16px;
  }

  .artwork-card {
    padding: 10px;
  }

  .artwork-card h3 {
    font-size: 16px;
  }

  .artwork-card p {
    font-size: 14px;
  }

  .artist-profile h2 {
    font-size: 24px;
  }

  .artist-info p {
    font-size: 14px;
  }

  .artist-profile h3 {
    font-size: 18px;
  }
}