<section class="mainpage">
  <section class="home">
    <div class="container">
      <h1 class="text-white">Welcome to the Art Gallery</h1>
      <p class="text-white">Discover the beauty of art and explore talented artists.</p>
    </div>
  </section>

  <app-gallery></app-gallery>

  <div class="container mt-4">
    <h2 class="art bold mt-4">About the artists :</h2>
    <div class="row">
      <div class="col-md-4 mt-4 mb-4" *ngFor="let a of allArtists; let i=index" [routerLink]="allArtists.length >= 10 ? ['/artist', a.id] : ['/fallback-route']">
        <div class="card mt-4 mb-4 d-flex align-items-center justify-content-center">
          <img [src]="'assets/images/artist_images/' + a.name + '.jpg'" class="card-img-top" alt="Card Image" *ngIf="allArtists.length >= 10">
          <img [src]="'assets/images/mock/artists/unknown.jpg'" class="card-img-top" alt="Card Image" *ngIf="allArtists.length <= 9">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <h5 class="card-title bold">{{ a.name | uppercase }}</h5>
            <p class="card-text">{{ a.nationality | uppercase }}</p>
            <p class="card-text"><span [className]="'fi fi-' + nationalityDico[removeSpaces(a.nationality)] "></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>